.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: var(--color-brand-normal);
}

.address-links-social {
  display: flex;
  gap: 22px;
  margin-top: 16px;
}